/* 
Paleta
#59313C - Vermelho
#262526 - Preto
#476289 - Azul
#CCD5D9 - Branco
#BF9C88 - Bege
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "MS UI Gothic";
    color: #262526;
    background-image: url(img/background.gif);
    background-color: #59313C;
}

header, section, footer {
    margin: auto;
    position: relative;
    width: 800px;

    background-color: rgba(240, 248, 255, 0.793);
}

header {
    background-color: #f2fbff;
    color: #262526;
    height: 130px;

    position: sticky;
    top: 0px;

    z-index: 99;

    margin-bottom: 20px;

    border-bottom: 3px dashed #262526;
}

header .balldivider {
    position: absolute;
    bottom: 10px;
    left: 160px;
}

#titulo {
    color: #476289;
    font-style: italic;
    font-size: 20px;

    position: relative;
    top: 10px;
    left: 10px;
}

#nome {
    position: relative;
    top: 25px;
    left: 225px;
}

header nav {
    width: fit-content;
    position: absolute;
    right: 50px;
    top: 10px;
}

ul.barraNav {
    list-style-type: none;
    border-left: #476289 3px solid;
    padding:2px 8px;
}

ul.barraNav li a {
    text-decoration: none;
    color: #262526;
}

ul.barraNav li a:hover {
    text-decoration: underline;
    color: #476289;
}

#Hero {
    width: fit-content;
    height: fit-content;
    
    margin: 100px auto;

    position: relative;

    background-color: transparent;
}

#Hero img {
    height: 500px;
    border-radius: 2px;
    border: 1px solid black;
}

#Hero p {
    position: absolute;
    width: max-content;
    left: 210px;
    bottom: 30px;

    color: yellow;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 1);
}

 
.rotate {
    transform: scale(1);
    transform: rotate(-30deg);
}

.paragrafo {
    margin-bottom: 30px;
}

.paragrafo h1 {
    text-align: center;
    padding: 5px;
}

.paragrafo p {
    text-align: justify;
}

.card {
    background-color: #bf9c8887;
    padding: 10px;
    width: fit-content;
    margin: 10px;
}

.card img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    border: 1px solid black;
}

.card p {
    max-width: 300px; 
}

#Cmusica img {
    object-position: 0px 0px;
}

#Ccor img {
    object-position: 0px -50px;
}

#Cirma img {
    object-position: 0px 0px;
}

#Cdesenho img {
    object-position: 0px -14px;
}