/* 
Paleta
#59313C - Vermelho
#262526 - Preto
#476289 - Azul
#CCD5D9 - Branco
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "MS UI Gothic";
    color: #262526;
    background-image: url(img/background.gif);
    background-color: #59313C;
}

header, section, footer {
    margin: auto;
    position: relative;
    width: 800px;

    background-color: rgba(240, 248, 255, 0.793);
}

header {
    background-color: #f2fbff;
    color: #262526;
    height: 130px;

    position: sticky;
    top: 0px;

    z-index: 99;

    margin-bottom: 20px;

    border-bottom: 3px dashed #262526;
}

header .balldivider {
    position: absolute;
    bottom: 10px;
    left: 160px;
}

#titulo {
    color: #476289;
    font-style: italic;
    font-size: 20px;

    position: relative;
    top: 10px;
    left: 10px;
}

#nome {
    position: relative;
    top: 25px;
    left: 225px;
}

header nav {
    width: fit-content;
    position: absolute;
    right: 50px;
    top: 10px;
}

ul.barraNav {
    list-style-type: none;
    border-left: #476289 3px solid;
    padding:2px 8px;
}

ul.barraNav li a {
    text-decoration: none;
    color: #262526;
}

ul.barraNav li a:hover {
    text-decoration: underline;
    color: #476289;
}

#Hero {
    width: fit-content;
    height: fit-content;
    
    margin: 100px auto;

    position: relative;

    background-color: transparent;
}

#Hero img {
    height: 500px;
    border-radius: 2px;
    border: 1px solid black;
}

#Hero p {
    position: absolute;
    width: max-content;
    left: 210px;
    bottom: 30px;

    color: yellow;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 1);
}

 
.rotate {
    transform: scale(1);
    transform: rotate(-30deg);
}

.paragrafo {
    margin-bottom: 30px;
    padding: 15px;
}

.paragrafo h1 {
    text-align: center;
    margin-bottom: 10px;
}

.paragrafo p {
    text-align: justify;
}

#curio1 {
    width: 1000px;
    height: 700px;

    background-color: transparent;
}

#curio1 h1 {
    background-color: rgba(240, 248, 255, 0.793);
    margin: auto;
    margin-bottom: 50px;

    padding: 10px 15px;

    width: fit-content;
}

.card {
    background-color: #CCD5D9;
    padding: 10px;
    width: fit-content;
    margin: 10px;

    z-index: 1;

    position: absolute;

    border-radius: 10px;

    transition: .1s ease-in;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    z-index: 2;

    scale: 1.1;
}

.card img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    max-width: 300px; 
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.middle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.linha2 {
    top: 400px;
}

#Cmusica img {
    object-position: 0px 0px;
}

#Ccor img {
    object-position: 0px -50px;
}

#Cirma img {
    object-position: 0px 0px;
}

#Cdesenho img {
    object-position: 0px -14px;
}

#educ1 {
    background-color: transparent;
}

#educ1 h1 {
    background-color: rgba(240, 248, 255, 0.793);
    margin: auto;
    margin-bottom: 50px;

    padding: 10px 15px;

    width: fit-content;
}

#educ1 table {
    margin: 30px auto;
}

table {
    font-size: 20px;
    border-radius: 4px;
    border-collapse: collapse;
}

table * {
    padding: 8px 12px;
}

table, th, td {
    border: 1px solid #262526;
}

table th {
    background-color: #476289;
    color: #f7fdff;
}

table td {
    background-color: #CCD5D9;
}

#hab1 ul {
    position: relative;
    left: 70px;
}

#hab1 ul li {
    margin-bottom: 20px;
    font-size: 20px;
}

#hab1 img {
    position: absolute;
}

#bebegif {
    left: 200px;
    bottom: 40px;
}

#lua {
    height: 50px;
    right: 30px;
    top: 40px;
}

#estrela {
    left: 330px;
    top: 20px;
}

#teclado {
    right: 240px;
    bottom: 50px;
}

#musica {
    right: 240px;
    bottom: 30px;
}

#bjork {
    height: 60px;
    right: 80px;
    bottom: 30px;
}

#gorillaz {
    right: 100px;
    bottom: 100px;
}

footer h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
}

footer {
    text-align: center;
}

footer a{
    color: #476289;
}

footer p {
    margin-bottom: 10px;
}

footer li {
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
}